/* Posts Page CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #efefef;
}

/* ---------- Navigation bar ---------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F0D18F;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 150px;
    margin-right: 45px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

/* -- user icon image / online -- */
.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin-left: 40px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

/* -- search box -- */
.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

/* ---------- End of navigation bar ---------- */

/* ---------- Body ---------- */
.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    margin-top: 20px;
}

.right-sidebar {
    background: #fff;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 15px;
    color: #404040;
}

.main-content {
    flex-basis: 47%;
}

.imp-links a,
.shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #404040;
    width: fit-content;
}

.shortcut-links a {
    position: relative;
}

.shortcut-links a:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50px;
    width: 100%;
    height: 2px;
    background-color: #EEBC27;
}

.imp-links a i {
    font-size: 25px;
    margin-right: 15px;
}

.imp-links a:last-child {
    color: #1876f2
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p {
    margin: 25px 0;
    color: #EEBC27;
    font-weight: 500;
}

/* -- Left side bar -- */
.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h4 {
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event {
    display:flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event {
    border-radius: 15px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}