/* Posts Page CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --body-color: #efefef;
    --nav-color: #F0D18F;
    --bg-color: #fff;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #EEBC27;
    --bg-color: #000;
}

body {
    background: var(--body-color);
    transition: background 0.3s;
}

/* ---------- Navigation bar ---------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 150px;
    margin-right: 45px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

/* -- user icon image / online -- */
.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin-left: 40px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

/* -- search box -- */
.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

/* ---------- End of navigation bar ---------- */

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

/* ---------- Left-content  ---------- */

.left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

/* ----- Top section / some links -----*/
.imp-links a,
.shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #404040;
    width: fit-content;
}

.shortcut-links a {
    position: relative;
}

.shortcut-links a:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50px;
    width: 100%;
    height: 2px;
    background-color: #EEBC27;
}

.imp-links a i {
    font-size: 25px;
    margin-right: 15px;
}

.imp-links a:last-child {
    color: #1876f2
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

/* ----- Groupchats ----- */
.shortcut-links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p {
    margin: 25px 0;
    color: #EEBC27;
    font-weight: 500;
}

/* -- Left side bar -- */
.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

/* ---------- Right-content ---------- */
.right-sidebar {
    background: var(--bg-color);
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 15px;
    color: #404040;
}

.right-sidebar h4 {
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p {
    font-size: 12px;
}

.event a {
    font-size: 12px;
    text-decoration: none;
    color: #EEBC27;
}

.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #EEBC27;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

/* ----- Side ads ----- */
.sidebar-ads {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list p {
    position: relative;
}

.online-list p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #EEBC27;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.online-list p:hover::after {
    transform: scaleX(1);
}


.online-list .online img {
    width: 40px;
    border-radius: 50%;
}

.online-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after {
    top: unset;
    bottom: 5px;
}

/* ---------- Main-content ---------- */
.main-content {
    flex-basis: 47%;
}

.create-post {
    background: #fff;
    border-radius: 15px;
}

.create-post-input {
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}

.create-post-input img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.create-post-input textarea {
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    margin-top: 8px;
}

::placeholder {
    font-weight: 500;
}

.create-post-links {
    display: flex;
    align-items: flex-start;
}

.create-post-links li {
    list-style: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-basis: 25%;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-post-links li i {
    font-size: 15px;
    margin-right: 5px;
}

.create-post-links li button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.create-post-links li:last-child {
    background: #F0D18F;
    color: #fff;
    border-top: 0;
    border-right: 0;
}

.post {
    background: var(--bg-color);
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
    border-radius: 15px;
}

.post-author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.post-author img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.post-author h1 {
    font-size: 18px;
    font-weight: 600;
    color: #EEBC27;
}

.post-author small {
    display: block;
    margin-bottom: -2px;
}

.post p {
    font-size: 14px;
    background-color: #FAF6EE;
    padding: 20px;
}

.post-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.post-stats div {
    display: flex;
    align-items: center;
}

.post-stats i {
    font-size: 15px;
    margin-right: 5px;
}

.liked-users {
    margin-left: 5px;
}


.post-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.post-activity div {
    display: flex;
    align-items: center;
}

.post-activity-user-icon {
    width: 25px;
    border-radius: 50%;

}

.post-activity-link i {
    font-size: 18px;
    margin-right: 8px;
}

/* user profile css */
.user-profile {
    display: flex;
    align-items: center;

}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #404040;
}

/* Footer */
.footer {
    text-align: center;
    color: #121212;
    padding: 10px 0 20px;
    font-size: 13px;
}

.user-profile a {
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}

.user-profile i {
    font-size: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    /* You can change this later if you want! */
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu-height {
    max-height: 500px;
}

.settings-menu-inner {
    padding: 20px;
}

.settings-menu hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 15px 0;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.settings-links .settings-icon {
    font-size: 25px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #404040;
}

/* --- Page transition -- */
#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #121212;
}

/* ---------- CSS Style for Profile page  ---------- */

.clicked i {
    color: red;
}

.btnScrollToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}

/* ---------- CSS Style for Profile page  ---------- */
.profile-container {
    padding: 20px 15%;
    color: #626262;
}

.cover-img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 14px;
}

.profile-details {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.profile-detail-row {
    display: flex;
    align-items: flex-start;
}

.profile-detail-image {
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}

.profile-detail-row div h3 {
    font-size: 25px;
    font-weight: 600;
}

.profile-detail-row div p {
    font-size: 13px;
}

.profile-detail-row div img {
    width: 25px;
    border-radius: 50%;
    margin-top: 12px;
}

.profile-detail-right button {
    background: #EEBC27;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.profile-detail-right button i {
    font-size: 15px;
    margin-right: 10px;
}

.profile-detail-right button:first-child {
    background: #ccc;
    color: #000;
}

.profile-info {
    display: flex;
    align-self: flex-start;
    margin-top: 10px;
}

.info-col {
    flex-basis: 25%;
    margin-left: 15%;
    margin-right: 10px;
}

.post-col {
    flex-basis: 45%;
    margin-right: 15%;
}

.profile-intro {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.profile-intro h3 {
    font-weight: 600;
}

.bio-text {
    margin: 10px 0;
    font-size: 15px;
}

.profile-intro hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}

.profile-intro ul li {
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.profile-intro ul li i {
    color: #EEBC27;
    margin-right: 10px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box a {
    text-decoration: none;
    color: #EEBC27;
    font-size: 14px;
}

.photo-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.photo-box div img {
    width: 100%;
    cursor: pointer;
}

.profile-intro p {
    font-size: 14px;
}

/*----- Friends Box ----- */
.friends-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.friends-box div img {
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
}

.friends-box div {
    position: relative;
}

.friends-box p {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ----- Media query ----- */
@media (max-width: 900px) {
    .right-sidebar {
        display: none;
    }

    .left-sidebar {
        display: none;
    }

    nav {
        flex-wrap: wrap;
    }

    .search-box {
        display: none;
    }

    .logo {
        width: 110px;
        margin-right: 20px;
    }

    .nav-user-icon img {
        width: 30px;
    }

    .nav-user-icon {
        margin-left: 0;
    }

    .display-container {
        flex-wrap: wrap;
    }

    .main-content {
        flex-basis: 100%;
    }
}

@media (max-width: 900px) {
    .profile-container {
        padding: 20px 5%;
    }

    .profile-details {
        flex-wrap: wrap;
    }

    .profile-detail-right {
        text-align: left;
        margin-top: 15px;
    }

    .profile-detail-right button {
        margin: 0;
        margin-right: 10px;
    }

    .profile-detail-row div h3 {
        font-size: 16px;
    }

    .profile-info {
        flex-wrap: wrap;
    }

    .info-col, .post-col {
        flex-basis: 100%;
    }

    .info-col {
        margin: 0 45px;
    }

    .post-col {
        margin: 0 45px;
    }
}